@model DiaryScheduler.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "card", role = "form" }))
    {
        <div class="card-body">
            @Html.AntiForgeryToken()
            <h4 class="card-title">Enter your email</h4>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-secondary" type="submit">Email Link</button>
        </div>
    }
</div>