@model DiaryScheduler.Web.Models.Scheduler.SchedulerModifyViewModel

@{
    ViewBag.Title = Model.PageTitle;
}

<div class="container" data-page-name="modify" id="scheduler-main-container">
    <div class="card">
        <form class="card-body" data-url="@Model.SaveUrl" id="edit-cal-entry-form">
            <h2 class="card-title">@Model.PageTitle</h2>
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.CalendarEntryId)

            <div class="mb-3">
                @Html.LabelFor(x => x.Title, new { @class = "form-label" })
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", maxlength = "100" })
                @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(x => x.Description, new { @class = "form-label" })
                @Html.TextAreaFor(x => x.Description, new { @class = "form-control no-resize", maxlength = "200", rows = "3" })
                @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(x => x.DateFrom, new { @class = "form-label" })
                    @Html.TextBoxFor(x => x.DateFrom, "{0:yyyy-MM-dd HH:mm}", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.DateFrom, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(x => x.DateTo, new { @class = "form-label" })
                    @Html.TextBoxFor(x => x.DateTo, "{0:yyyy-MM-dd HH:mm}", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.DateTo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="mb-3 form-check">
                @Html.CheckBoxFor(x => x.AllDay, new { @class = "form-check-input" })
                @Html.LabelFor(x => x.AllDay, new { @class = "form-check-label" })
            </div>

            <button class="btn btn-success" id="save-entry-btn" title="Save changes to this calendar event" type="submit">Save</button>

            @if (Model.ShowDeleteBtn)
            {
                <button class="btn btn-danger" id="delete-entry-btn" title="Delete this calendar event" type="button">Delete</button>
            }

            @if (Model.ShowExportBtn)
            {
                <button class="btn btn-info" id="export-event-btn" title="Export this calendar event to an iCal" type="button">Export</button>
            }

            @Html.ActionLink("Back", "Index", "Scheduler", null, new { @class = "btn btn-outline-secondary", id = "back-to-cal-btn", title = "Go back to the calendar" })
        </form>
    </div>
</div>
@{ Html.RenderAction("_ModalDeleteConfirmation", "Scheduler", new { area = "" }); }