@model DiaryScheduler.Web.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Create Password";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>
    <p class="text-info">
        You do not have a local username/password for this site. Add a local
        account so you can log in without an external login.
    </p>

    @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "card", role = "form" }))
    {
        <div class="card-body">
            <h4 class="card-title">Create Local Login</h4>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-secondary" type="submit">Set password</button>
        </div>
    }
</div>