@model DiaryScheduler.Web.Models.VerifyPhoneNumberViewModel
@{
    ViewBag.Title = "Verify Phone Number";
}

<div class="container">
    @using (Html.BeginForm("VerifyPhoneNumber", "Manage", FormMethod.Post, new { @class = "card", role = "form" }))
    {
        <div class="card-body">
            <h4 class="card-title">Enter verification code - <span>@ViewBag.Status</span></h4>
            @Html.AntiForgeryToken()
            @Html.Hidden("phoneNumber", @Model.PhoneNumber)
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Code)
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-secondary" type="submit">Submit</button>
        </div>
    }
</div>